<ion-view>
<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>

  <ion-content class="padding">

  <div class="bar bar-header bar-balanced">
    <h1 class="title">Ionic WebSql sample!</h1>
  </div>

<div class="contentMenu">

  <div class="col text-center">
    <img src="" width="250px" height="250px">
  </div>
<br>
<br>
  <div class="col text-center">
    <button class="button button-calm" ui-sref='landing.contoh'>Mulai isi data!</button>
  </div>
</div>
  
  </ion-content>
</ion-view>

